@model Moto

    

    <div class="offer">
        <div class="row row--no-padding">
            <div class="col-xs-6">
                <div class="offer__img">
                    <img class="img-responsive" src="@Model.Img" alt="@Model.Name" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="offer__info">
                    <h4 class="title"><span class="title__bold"><span>@Model.Name</span></span></h4>
                    <div class="offer__price">От <span>@Model.Price.ToString("c")</span></div>
                    <div>@Model.ShortDesc</div>
                    <a  class="btn button button--main button--red pull-right" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@Model.Id">В корзину</a>
                </div>
            </div>
        </div>
    </div>