
@model MotoViewModel
@addTagHelper "*, SUBDCOURSE"

<h1>Мотоциклы</h1>
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Имя: </label>
        @Html.TextBox("name", Model.Name, htmlAttributes: new { @class = "form-control" })

        @*<label class="control-label">Категория: </label>
            @Html.DropDownList("category", Model.Categories as SelectList,
                    htmlAttributes: new { @class = "form-control" })*@

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.PriceSort">
                Цена
            </sort-header>
        </th>
    </tr>
</table>

@foreach (Moto u in Model.Motos)
{
    @Html.Partial("AllMoto", u)

}